.row
  .columns.medium-4.medium-offset-4.text-center
    %br
    %br
    -if @turn.guessed?
      %p= "#{@turn.player.name}'s image:"

      %img{src: @turn.image_url}

      %h3
        -if @turn.lie
          It was a lie
        -else
          It was the truth!

      %a.button{href: new_game_turn_path(@turn.game)} Next

    -else
      %p= "#{@turn.player.name}, you are the Teller. Describe your image"

      %img.img-url{src: @turn.image_url}


      =form_for @turn do |form|
        %input.hide{type: 'checkbox', name: 'turn[lie]'}
        =form.hidden_field(:image)

        %input.switch-input{type: "checkbox", name:"turn[lie]", id: "lie_input"}
        %label.switch-paddle{for: "lie_input"}
          %span.show-for-sr Do you like me?
          %span.switch-active I'll lie
          %span.switch-inactive I won't lie

        %br
        %input.turn-submit-button.button{type: 'submit', value: "Enter Guesses"}

:coffeescript
  $ ->
    # Add player
    $('.lie-button').click (e) ->
      e.preventDefault()
      $("input[name='turn[lie]']").prop('checked', true)

    $('.truth-button').click (e) ->
      e.preventDefault()
      $("input[name='turn[lie]']").prop('checked', false)
