.row
  .columns.col-sm-12.text-center
    %h1.text-center Wiompi
    %p.text-center what is on my phone is...

    %p A Game of

    %span Truth
    %span and
    %span Lies

    %br
    %br

    %a.button{href: new_game_path} Start
