.row
  .columns.small-4.small-offset-4.text-center
    %h1.text-center Enter Players

    %form.add-players
      %textarea

    %button.add-player-button.button Add Players

    =form_for :game, url: games_path, html: {class: 'start-game'} do
      %input{type: 'hidden', name:'game[player_names]', value: '[]'}
      %button.start.button Start

    %p
      %span.player-count 0
      %span Players
    %ul.no-bullet.players

:coffeescript
  $ ->
    # Add player
    $('.add-player-button').click (e) ->
      e.preventDefault()
      $textArea = $('form.add-players textarea')
      $('.players').append(
        '<li class="player">'  + $textArea.val() + '</li>'
      )
      $textArea.val('')
      $('.player-count').html($('.player').length)

    # Start game
    $('form.start-game').click (e) ->
      e.preventDefault()
      $form = $('form.start-game')
      players = _($(".player")).map (p) -> p.innerText
      $form.find("input[name='game[player_names]']").val(players)
      $form.submit()
