// Place all the styles related to the Guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.switch-paddle {
  width: 100px;
}

input:checked {
  ~ {
    left: 5em;
    .switch-paddle {
      &:after {
        left: 5em;
      }
    }
  }
}
